.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 2px solid #f9f9f9;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.header_logo {
  object-fit: contain;
  height: 40px;
}

.header_icon {
  padding: 10px;
}
