.tinderCards_card {
  position: relative;
  background-color: #ffffff;
  width: 600px;
  padding: 0 20px 20px 20px;
  max-width: 85vw;
  height: 50vh;
  background-size: cover;
  box-shadow: 8px 15px 53px 8px rgba(0, 0, 0, 0.3);
  background-position: center;
  border-radius: 20px;
}

.tinderCards_cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.swipe {
  position: absolute;
}

.tinderCards_card > h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #ffffff;
}
